.image-upload__button {
    display: block;
    width: 215px;
    height: 55px;
    border: 2px solid var(--blue600);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue950);
    font-weight: 600;
    margin-left: -16px;
}

.image-upload__button_small {
    width: 146px;
    margin-left: 0;
}

.image-uploader {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.uploaded-image__container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.uploaded-image__preview {
    width: 114px;
    height: 114px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.uploaded-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.uploaded-image__remove {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 14px;
}