.notification {
    border: 2px solid var(--blue);
    border-radius: 20px;
    padding: 0 24px;
    display: flex;
    height: 71px;
    align-items: center;
}

.notification__text {
    margin-left: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--black-text);
}

#notification__text_accent {
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    color: var(--blue);
}

.notification__datetime {
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: var(--gray-text);
}