.login_page::after {
    display: none;
}

.login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100vh;
}

.login-form_container {
    background-color: var(--blue);
    border-radius: 50px;
    height: 393px;
    max-width: 764px;
    width: 100%;
    padding: 32px 64px;
    position: relative;
}

.login-form_container::before {
    content: '';
    position: absolute;
    background-image: url('../../img/line-login2.svg');
    background-position: center center;
    background-size: cover;
    width: 72px;
    height: 100px;
    bottom: 0;
    left: -3px;
}

.login-form_container::after {
    content: '';
    position: absolute;
    background-image: url('../../img/line-login1.svg');
    background-position: center center;
    background-size: cover;
    width: 214px;
    height: 218px;
    top: 0;
    right: 49px;
}

.login__title::before {
    display: none;
}

.login__title {
    color: var(--white-text);
    margin-top: 24px;
}

.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    z-index: 1;
}

.login-form__label {
    font-size: 14px;
    line-height: 16.8px;
    color: var(--blue300);
}

.login-form__number {
    background-color: var(--background);
    border-radius: 10px;
    height: 50px;
    padding: 0 24px;
    margin-top: 8px;
}

.login-form__number::placeholder {
    color: #B0B0B0;
}

.login-form__button {
    max-width: 306px;
    width: 100%;
    height: 50px;
    background-image: var(--gradient3);
    margin-top: 32px;
    border-radius: 15px;
    color: var(--white-text);
}