.admin_change-page__header {
    display: flex;
    width: 100%;
    gap: 24px;
    margin-top: 24px;
}

.admin_change-page__header .search {
    max-width: 100%;
}

.admin_change-page__add {
    background-color: var(--blue400);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 239px;
    width: 100%;
    border-radius: 15px;
    font-weight: 600;
    color: var(--white-text);
}

.admin-change_list {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.admin-change_item {
    width: calc(50% - 12px);
}

.change_item-card__title,
.change_item-card__description {
    width: 100%;
    position: relative;
}

.change_item-card__button {
    position: absolute;
    right: 0;
    font-weight: 500;
    line-height: 19.2px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray-text);

}

.change_item-card__value-title {
    width: 100%;
}

.change_item-card__input {
    width: 100%;
    position: relative;
}


.admin-modal {
    width: 764px;
    margin: 0 32px;
}

.admin-modal__title {
    font-family: Roboto Condensed;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.02em;
    position: relative;
}

.admin-modal__title::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -16px;
    left: 0;
    background-image: var(--gradient3);
}

.admin-modal__form {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.admin-modal_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.admin-modal_label {
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    color: var(--light-gray-text);

}

.admin-modal_input {
    border-bottom: 1px solid var(--light-gray-text);
    width: 100%;
    padding: 8px 0;
}

.admin_save-button {
    width: 207px;
    height: 55px;
    padding: 10px 32px 10px 32px;
    border-radius: 15px;
    background-color: var(--blue400);
    margin-top: 8px;
    font-weight: 600;
    color: var(--white-text);
}


.admin-search {
    width: 100%;
}

.admin-search > .search {
    max-width: 100%;
}

.moderator-list_container {
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

.moderator-list_container::-webkit-scrollbar {
    display: none;
}

.moderator-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.moderator-item {
    border: 2px solid var(--light-gray-text);
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 14px;
}

.moderator-list_select {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray-text);
}

.moderator-list_selected {
    color: var(--blue700);
}

.admin-modal_button {
    border: 2px solid var(--blue600);
    align-self: flex-start;
    padding: 16px 65px;
    border-radius: 15px;
    font-weight: 700;
    color: var(--blue950);
    margin-top: 8px;
}

.admin-modal_file-name {
    border: 1px solid var(--gray-text);
    border-radius: 20px;
    align-self: flex-start;
    padding: 4px 8px;
    display: flex;
    gap: 16px;
}