.filter {
    width: 243px;
    position: relative;
    z-index: 1;
}

.filter__header {
    width: 100%;
    margin-top: 24px;
    height: 44px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}

.filter__options-list {
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    top: calc(100% + 5px);
    background-color: var(--background);
}

.filter__option {
    padding: 5px 10px;
    cursor: pointer;
}