.header__menu {
    position: absolute;
    top: calc(100% + 8px);
    font-weight: 300;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    width: 100%;
    max-width: 1114px;
    padding: 0 20px;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 116px;
    background-color: var(--violet);
    border-radius: 10px;
    padding: 8px 20px;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--white-text);
}

.menu__item span {
    display: block;
    width: 150px;
}