.change_item-card {
    border: 1px solid var(--light-gray-text);
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.change_item-card__info {
    display: flex;
    gap: 16px;
}

.change_item-card__label {
    font-weight: 600;
}

.change_item-card__delete {
    margin-top: 8px;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    color: var(--gray-text);
}