.draft-card__continue {
    position: absolute;
    bottom: 16px;
    left: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: var(--violet);
    display: flex;
    gap: 4px;
}