:root {
    --violet: #54156C;
    --yellow: #FFF200;
    --background: #F8FBFF;
    --black-text: #180F25;
    --gray-text: #656368;
    --white-text: #FFFFFF;
    --light-gray-text: #B5B5B5;
    --green: #13C519;
    --red: #E40A0A;
    --light-red: #FF4949;
    --light-gray: #CDCDCD;
}

body {
    font-family: 'Inter';
    color: var(--black-text);
    background-color: var(--background);
}

.page_content {
    width: 100%;
    max-width: 1094px;
    height: 100%;
    padding: 134px 30px 30px 30px;
}

.App {
    display: flex;
    justify-content: center;
}

.card-violet {
    color: var(--white-text);
    background-color: var(--violet);
    width: 243px;
    padding: 24px 16px 24px 16px;
    border-radius: 10px;
    position: relative;
}

.cards-list {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.text-title {
    font-family: Roboto Condensed;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}