.card-select {
    color: var(--white-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 24px;
    left: 16px;
};
