.history__appeal-card {
    position: relative;
    width: 633px;
    height: 120px;
    padding: 11px 16px;
    border-radius: 20px;
    border: 2px solid var(--light-blue);
    display: flex;
    align-items: center;
    gap: 24px;
}

.appeal-card__info {
    width: 417px;
}

.appeal-card__icon {
    width: 86px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 20px;
}

.appeal-card__icon img {
    filter: grayscale(100%) brightness(1000%);
}

.appeal-card__info_main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.appeal-card__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    color: var(--blue);
    max-width: 260px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    padding: 3px 0;
}

.appeal-card__datetime {
    display: flex;
    gap: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--gray-text);
    align-items: center;
}

.appeal-card__datetime::before {
    content: '(';
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    background-image: var(--gradient3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
}

.appeal-card__datetime::after {
    content: ')';
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    background-image: var(--gradient3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
}

.appeal-card__status {
    margin-top: 16px;
}

.status_rejected {
    color: var(--light-red);
}

.status_accepted {
    color: var(--green);
}

.status_checking {
    color: var(--gray-text);
}

.appeal-card__comm {
    margin-top: 8px;
}

.appeal-card__status,
.appeal-card__comm {
    display: flex;
    gap: 16px;
}

.appeal-card__label {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    color: var(--gray-text);
}

.appeal-card__status_value {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.appeal-card__comm_value {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}