.profile__title {
    margin-top: 24px;
}

.profile-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--gray-text);
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 10px;
}

.logout-btn {
    margin-top: 150px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    gap: 16px;
}

.logout-btn__text {
    color: var(--red);
    text-decoration-line: underline;
}