.notify-set {
    margin-top: 48px;
    width: 100%;
}

.notify__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.notify-set__title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notify-set__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--blue400);
}

.notify-set__title_line {
    height: 1px;
    width: 100%;
    max-width: calc(100% - 263px);
    background-color: var(--blue400);
}